.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
}

.table__row {
  background-color: #fff;
  color: #111;
}

.table__row--header {
  background-color: #111;
  color: #fff;
}

.table__cell {
  border: 1px solid #111;
  padding: 0.5rem;
}

.table__cell--header {
  border: 1px solid #fff;
}

@media print {
  .table__cell-Karta {
    display: none !important;
  }
  .table__cell-Status {
    display: none !important;
  }
}
